{% macro bild (
    bild,
    class,
    bildbeschreibung,
    seitenverhaeltnis = false,
    objectFit = false,
    fokuspunkt = 5,
    hintergrundfarbe = false,
    lazyload = true,
    preload = false
) %}

{% if bild is not defined %}
    Macro bild: Kein Bild (bild) angegeben.
{% endif %}
{% if class is not defined %}
    Macro bild: Keine Klasse (class) angegeben.
{% endif %}
{% if bildbeschreibung is not defined %}
    Macro bild: Keine Bildbeschreibung (bildbeschreibung) angegeben.
{% endif %}

{% if lazyload == true %}
    {% set lazyloadVariable = "lazyload" %}
    {% set srcset = "data-srcset" %}
    {% set sizesAuto = "auto" %}
{% else %}
    {% set lazyloadVariable = false %}
    {% set srcset = "srcset" %}
    {% set sizesAuto = false %}
{% endif %}

{% if seitenverhaeltnis == false %}
    {% set hoehe = (bild.getHeight() / bild.getWidth()) | round(2) %}
    {% set paddingBottom = (bild.getHeight() / bild.getWidth() * 100) | round(2) ~ "%" %}
{% else %}
    {% set seitenverhaeltnisArray = seitenverhaeltnis|split(':') %}
    {% set hoehe = (seitenverhaeltnisArray[1] / seitenverhaeltnisArray[0]) | round(2) %}
    {% set paddingBottom = (seitenverhaeltnisArray[1] / seitenverhaeltnisArray[0] * 100) | round(2) ~ "%" %}
{% endif %}

{% switch fokuspunkt %}
    {% case 1 %}
        {% set cssObjectPosition = 'left top' %}
    {% case 2 %}
        {% set cssObjectPosition = 'center top' %}
    {% case 3 %}
        {% set cssObjectPosition = 'right top' %}
    {% case 4 %}
        {% set cssObjectPosition = 'left center' %}
    {% case 5 %}
        {% set cssObjectPosition = 'center center' %}
    {% case 6 %}
        {% set cssObjectPosition = 'right center' %}
    {% case 7 %}
        {% set cssObjectPosition = 'left bottom' %}
    {% case 8 %}
        {% set cssObjectPosition = 'center bottom' %}
    {% case 9 %}
        {% set cssObjectPosition = 'right bottom' %}
{% endswitch %}
        
{# mit/ohne preload #}
    
{% set style = [
    hintergrundfarbe ? "background-color:" ~ hintergrundfarbe : "background-color: #E3E2E0",
    objectFit ? "height: 100%": "padding-bottom:" ~ paddingBottom,
] %}

<div class="{{ class ~ '-bild' ~ ' macro-bild' }}" style="{{ style | join(';') }}">
    <picture class="macro-bild__picture" data-hoehe="{{ hoehe }}">
        {% if seitenverhaeltnis %}
            {% do bild.setTransform({
                width: 100,
                height: (100 * hoehe) | round(0),
                mode: 'crop',
                quality: 75
            }) %}
        {% else %}
            {% do bild.setTransform({
                width: 100,
                height: (100 / bild.width * bild.height) | round(0),
                quality: 75
            }) %}
        {% endif %}
        {{ tag('source', {
            format: 'webp',
            type: 'image/webp',
            srcset: bild.getSrcset(['100w', '200w', '400w', '600w', '800w', '1000w', '1200w', '1400w', '1600w', '1800w', '2000w', '2200w', '2400w', '2600w', '2800w', '3000w', '3200w', '3400w', '3600w', '3800w', '4000w', '4200w', '4400w', '4600w', '4800w', '5000w'])
        }) }}
        {{ tag('source', {
            format: 'jpg',
            type: 'image/jpeg',
            srcset: bild.getSrcset(['100w', '200w', '400w', '600w', '800w', '1000w', '1200w', '1400w', '1600w', '1800w', '2000w', '2200w', '2400w', '2600w', '2800w', '3000w', '3200w', '3400w', '3600w', '3800w', '4000w', '4200w', '4400w', '4600w', '4800w', '5000w'])
        }) }}

        {% if seitenverhaeltnis %}
            {% do bild.setTransform({
                width: 100,
                height: (100 * hoehe) | round(0),
                mode: 'crop',
                quality: 50
            }) %}
        {% else %}
            {% do bild.setTransform({
                width: 100,
                height: (100 / bild.width * bild.height) | round(0),
                quality: 50
            }) %}
        {% endif %}
        {% do bild.setTransform({
            width: 100,
            quality: 30
        }) %}
        {% if objectFit == false %}
            {% set objectFitVariable = "" %}
        {% else %}
            {% set objectFitVariable = "object-fit:" ~ objectFit ~ ";" %}
        {% endif %}

        {% set imgAttribute = {
            src: bild.url,
            width: bild.width,
            height: bild.height,
            alt: bildbeschreibung,
            class: "#{class}-img macro-bild__img #{lazyloadVariable}",
            'background-color': hintergrundfarbe,
            'object-position': cssObjectPosition,
            data: {
                sizes: sizesAuto
            }
        } %}
        <img {{ attr(imgAttribute) }} style="{{ objectFitVariable }}">
    </picture>
</div>


{% endmacro %}