{% import "macros/bild/_bild.twig" as macroBild %}
{% extends "_layout.twig" %}

{% block content %}

<h1>{{ entry.title }}</h1>
<p>{{ entry.filipa2 }}</p>
<p>{{ entry.felix }}</p>
<p>{{ entry.farbe }}</p>

{% for bild in entry.projektbilder %}
    <div class="projekt__bild">
        {# <img src="{{ bild.url }}"> #}
        {{ macroBild.bild(bild, 'bild', 'Text der bildbeschreibung') }}
    </div>
{% endfor %}

{% endblock %}