{% macro bild (
    bild,
    class,
    bildbeschreibung,
    seitenverhaeltnis = false,
    hintergrundfarbe = false,
    fokuspunkt = 5,
    lazyload = true,
    paddingTrick = true,
    preload = false
) %}

{% if bild is not defined %}
    Macro bild: Kein Bild (bild) angegeben.
{% endif %}
{% if class is not defined %}
    Macro bild: Keine Klasse (class) angegeben.
{% endif %}
{% if bildbeschreibung is not defined %}
    Macro bild: Keine Bildbeschreibung (bildbeschreibung) angegeben.
{% endif %}

{% if lazyload == true %}
    {% set lazyloadVariable = "lazyload" %}
    {% set srcset = "data-srcset" %}
    {% set sizesAuto = "auto" %}
{% else %}
    {% set lazyloadVariable = false %}
    {% set srcset = "srcset" %}
    {% set sizesAuto = false %}
{% endif %}

{% if seitenverhaeltnis == false %}
    {% set hoehe = bild.getHeight() / bild.getWidth() | round(2) %}
    {% set paddingBottom = bild.getHeight() / bild.getWidth() * 100 | round(2) ~ "%" %}
{% else %}
    {% set seitenverhaeltnisArray = seitenverhaeltnis|split(':') %}
    {% set hoehe = seitenverhaeltnisArray[1] / seitenverhaeltnisArray[0] | round(2) %}
    {% set paddingBottom = seitenverhaeltnisArray[1] / seitenverhaeltnisArray[0] * 100 | round(2) ~ "%" %}
{% endif %}

{% switch fokuspunkt %}
    {% case 1 %}
        {% set cssObjectPosition = 'left top' %}
    {% case 2 %}
        {% set cssObjectPosition = 'center top' %}
    {% case 3 %}
        {% set cssObjectPosition = 'right top' %}
    {% case 4 %}
        {% set cssObjectPosition = 'left center' %}
    {% case 5 %}
        {% set cssObjectPosition = 'center center' %}
    {% case 6 %}
        {% set cssObjectPosition = 'right center' %}
    {% case 7 %}
        {% set cssObjectPosition = 'left bottom' %}
    {% case 8 %}
        {% set cssObjectPosition = 'center bottom' %}
    {% case 9 %}
        {% set cssObjectPosition = 'right bottom' %}
{% endswitch %}
        
{# mit/ohne preload #}
{# mit/ohne padding-bottom-Trick #}
    {# object-fit #}
{# Preload #}
    
{# Fallunterscheidung preload, kein Padding-bottom-Trick, Standard weggelassen #}
{# Später aus xsl holen und umprogrammieren #}

{% set attribute = {
    class: [
        class ~ '-bild' ~ ' macro-bild'
    ],
    style: {
        'background-color': hintergrundfarbe,
        'padding-bottom': paddingBottom
    }
} %}

<div {{attr(attribute)}} data-hoehe="{{ seitenverhaeltnisArray[1] }}" data-breite="{{ seitenverhaeltnisArray[0] }}>
    <picture class="macro-bild__picture">
        {% if seitenverhaeltnis == true %}
            {% do bild.setTransform({
                width: 100,
                height: 100 * hoehe,
                mode: 'crop',
                quality: 75
            }) %}
        {% else %}
            {% do bild.setTransform({
                width: 100,
                height: bild.width * hoehe,
                quality: 75
            }) %}
        {% endif %}
        {{ tag('source', {
            format: 'webp',
            type: 'image/webp',
            srcset: bild.getSrcset(['100w', '200w', '400w', '600w', '800w', '1000w', '1200w', '1400w', '1600w', '1800w', '2000w', '2200w', '2400w', '2600w', '2800w', '3000w', '3200w', '3400w', '3600w', '3800w', '4000w', '4200w', '4400w', '4600w', '4800w', '5000w'])
        }) }}
        {{ tag('source', {
            format: 'jpg',
            type: 'image/jpeg',
            srcset: bild.getSrcset(['100w', '200w', '400w', '600w', '800w', '1000w', '1200w', '1400w', '1600w', '1800w', '2000w', '2200w', '2400w', '2600w', '2800w', '3000w', '3200w', '3400w', '3600w', '3800w', '4000w', '4200w', '4400w', '4600w', '4800w', '5000w'])
        }) }}

        {% if seitenverhaeltnis == true %}
            {% do bild.setTransform({
                width: 300,
                height: 300 * hoehe,
                mode: 'crop',
                quality: 50
            }) %}
        {% else %}
            {% do bild.setTransform({
                width: 100,
                height: 100 * hoehe,
                quality: 50
            }) %}
        {% endif %}
        {{ tag('img', {
            src: bild.url,
            width: bild.width,
            height: bild.height,
            alt: bildbeschreibung,
            class: "#{class}-img macro-bild__img #{lazyloadVariable}",
            'background-color': hintergrundfarbe,
            'object-position': cssObjectPosition,
            data: {
                sizes: sizesAuto
            }
        }) }}
    </picture>
</div>


{% endmacro %}