<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
	<head>
		<meta charset="utf-8"/>
		<title>
			{% if craft.app.request.segment(1) %}
				{% block seitentitel %}{% endblock %}
				—
			{% endif %}
			PROJEKTNAME
		</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		{% block metaDescription %}{% endblock %}

        {% set staticAssetsVersion = craft.app.config.custom.staticAssetsVersion %}

		
		<!-- https://web.dev/defer-non-critical-css/ -->
		<link rel="preload" href="/css/style.{{ staticAssetsVersion }}.css" as="style">
		<link rel="stylesheet" href="/css/style.{{ staticAssetsVersion }}.css" media="print" onload="this.media='all'">
		<noscript><link rel="stylesheet" href="/css/style.{{ staticAssetsVersion }}.css"/></noscript>

        {% if devMode %}
            <link rel="stylesheet" href="/css/dev.{{ staticAssetsVersion }}.css">
        {% endif %}

        <script src="js/defer.{{ staticAssetsVersion }}.js" defer></script>
		<script>
			{{ source("/js/inline.js") }}
		</script>

		<!-- Webfonts -->

		<style>
			{# FOUC #}
			{# https://www.primative.net/blog/how-to-get-rid-of-the-flash-of-unstyled-content/ #}
			.no-js {
				visibility: visible;
			}
			{# Transition erst nach dem Laden der Seite anwenden #}
			body.preload * {
				transition: transform 0s !important;
			}
		</style>
	</head>
	{% if not craft.app.request.segment(1) %}
		{% set seitenname = 'startseite' %}
	{% else %}
		{% set seitenname = craft.app.request.segment(1) %}
        {% if craft.app.request.segment(2) %}
            {% set seitenname = craft.app.request.segment(1) ~ '-entry' %}
        {% endif %}
	{% endif %}
    {% set bodyDataTags = {
        data: {
            menueAktiv: 'false',
            menueBewegt: 'false',
            bodyScrolled: 'false'
        },
        style: {
            'visibility': 'hidden'
        },
    } %}
	<body class="body body--{{ seitenname }} no-js preload" {{ attr(bodyDataTags) }}>

		<!-- Firefox Hack gegen FOUC: https://www.primative.net/blog/how-to-get-rid-of-the-flash-of-unstyled-content/ -->
		<script>0</script>

		<!-- FOUC -->
		<script>
			document.querySelector('body').classList.remove('no-js');
		</script>

        <button type="button" id="hamburger" style="position: fixed; z-index: 100; left: 20px; top: 20px">=</button>

        <nav id="menue">
            <div class="menue__link">Link 1</div>
            <div class="menue__link">Link 2</div>
            <div class="menue__link">Link 3</div>
        </nav>

        <div id="seite">
            <main class="main"> {% block content %}{% endblock %}</main>
        </div>

		<script>
			{# FOUC #}
			let domReady = (cb) => {
			document.readyState === 'interactive' || document.readyState === 'complete'
				? cb()
				: document.addEventListener('DOMContentLoaded', cb);
			};
						
			domReady(() => {
				document.body.style.visibility = 'visible';
			});
			{# Preload beenden #}
			setTimeout(function(){
				document.body.classList.remove('preload');
			}, 500);
		</script>
		
	</body>
</html>