<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
	<head>
		<meta charset="utf-8">
		<title>
			{% if craft.app.request.segment(1) %}
				{% block seitentitel %}{% endblock %}
				—
			{% endif %}
			PROJEKTNAME
		</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		{% block metaDescription %}{% endblock %}

        {% set staticAssetsVersion = craft.app.config.custom.staticAssetsVersion %}

		
		{# https://web.dev/defer-non-critical-css/ #}
		<link rel="preload" href="/css/style.{{ staticAssetsVersion }}.css" as="style" nonce="{{ cspNonce('style-src') }}">
		<link id="cssOnload" rel="stylesheet" href="/css/style.{{ staticAssetsVersion }}.css" media="print" nonce="{{ cspNonce('style-src') }}">
        <script nonce="{{ cspNonce('script-src') }}">
            cssOnload = document.getElementById('cssOnload');
            cssOnload.onload = function() {
                cssOnload.setAttribute('media', 'all');
            };
        </script>
		<noscript><link rel="stylesheet" href="/css/style.{{ staticAssetsVersion }}.css" nonce="{{ cspNonce('style-src') }}"></noscript>

        {% if devMode %}
            <link rel="stylesheet" href="/css/dev.{{ staticAssetsVersion }}.css" nonce="{{ cspNonce('style-src') }}">
        {% endif %}

        <script src="/js/defer.{{ staticAssetsVersion }}.js" defer nonce="{{ cspNonce('script-src') }}"></>
		<script nonce="{{ cspNonce('script-src') }}">
			{{ source("/js/inline.js") }}
		</script>

		{# Webfonts #}

		<style nonce="{{ cspNonce('style-src') }}">
			{# FOUC #}
			{# https://www.primative.net/blog/how-to-get-rid-of-the-flash-of-unstyled-content/ #}
			.no-js {
				visibility: visible;
			}
			{# Transition erst nach dem Laden der Seite anwenden #}
			body.preload * {
				transition: transform 0s !important;
			}
            /* Body bis zum Laden des ganzen HTML unsichtbar machen */
            body {
                visibility: hidden;
            }
		</style>
	</head>
	{% if not craft.app.request.segment(1) %}
		{% set seitenname = 'startseite' %}
	{% else %}
		{% set seitenname = craft.app.request.segment(1) %}
        {% if craft.app.request.segment(2) %}
            {% set seitenname = craft.app.request.segment(1) ~ '-entry' %}
        {% endif %}
	{% endif %}
    {% set bodyDataTags = {
        data: {
            menueAktiv: 'false',
            menueBewegt: 'false',
            bodyScrolled: 'false'
        },
    } %}
	<body class="body body--{{ seitenname }} no-js preload" {{ attr(bodyDataTags) }}>

		{# Firefox Hack gegen FOUC: https://www.primative.net/blog/how-to-get-rid-of-the-flash-of-unstyled-content/ #}
		<script nonce="{{ cspNonce('script-src') }}">0</script>

		{# FOUC #}
		<script nonce="{{ cspNonce('script-src') }}">
			document.querySelector('body').classList.remove('no-js');
		</script>

        <button class="menue__hamburger" id="hamburger" type="button" aria-label="Menüknopf">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
        <nav class="menue" id="menue">
            <div class="menue__container-links">
                <div class="menue__links">
                    <a href="/atelier" class="menue__link{% if craft.app.request.getSegment(1) == 'atelier' %} menue__link--aktiv{% endif %}">Atelier</a>
                    <a href="/bauen" class="menue__link{% if craft.app.request.getSegment(1) == 'bauen' %} menue__link--aktiv{% endif %}">Bauen</a>
                    <a href="/einrichten" class="menue__link{% if craft.app.request.getSegment(1) == 'einrichten' %} menue__link--aktiv{% endif %}">Einrichten</a>
                    <a href="/angebote" class="menue__link{% if craft.app.request.getSegment(1) == 'angebote' %} menue__link--aktiv{% endif %}">Angebote</a>
                    <a href="/kontakt" class="menue__link{% if craft.app.request.getSegment(1) == 'kontakt' %} menue__link--aktiv{% endif %}">Kontakt</a>
                </div>
            </div>
        </nav>

        <div id="seite">
            <main class="main"> {% block content %}{% endblock %}</main>
        </div>

		<script nonce="{{ cspNonce('script-src') }}">
			{# FOUC #}
			let domReady = (cb) => {
			document.readyState === 'interactive' || document.readyState === 'complete'
				? cb()
				: document.addEventListener('DOMContentLoaded', cb);
			};
						
			domReady(() => {
				document.body.style.visibility = 'visible';
			});
			{# Preload beenden #}
			setTimeout(function(){
				document.body.classList.remove('preload');
			}, 500);
		</script>
		
	</body>
</html>