<!DOCTYPE html>
<html lang="{{ currentSite.language }}">
    <head>
        <meta charset="utf-8">
        <title>
            {% if craft.app.request.segment(1) %}
                {% block pageTitle %}{% endblock %}
                —
            {% endif %}
            PROJECT NAME
        </title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        {# prevent automatic conversion of numbers to telephone links #}
        <meta name="format-detection" content="telephone=no" />
        {% block seoMetaDescription %}{% endblock %}

        {# 
            Alle CSS und JS Dateien erhalten eine Versionsnummer, damit sicher die neuste geladen wird, nicht die aus dem Cache.            
            Die Variable staticAssetsVersion wird bei allen CSS und JS Dateien vor die Dateiendung gesetzt:
            <link rel="stylesheet" href="/css/xxx.{{ staticAssetsVersion }}.css" nonce="{{ cspNonce('style-src') }}">
         #}
        {% set staticAssetsVersion = craft.app.config.custom.staticAssetsVersion %}

        {# Favicon #}
        <link rel="icon" type="image/png" href="/favicon/favicon-96x96.{{ staticAssetsVersion }}.png" sizes="96x96">
        <link rel="icon" type="image/svg+xml" href="/favicon/favicon.{{ staticAssetsVersion }}.svg">
        <link rel="shortcut icon" href="/favicon/favicon.{{ staticAssetsVersion }}.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.{{ staticAssetsVersion }}.png">
        {# TODO: Website Kurzname anpassen #}
        <meta name="apple-mobile-web-app-title" content="siaa">
        <link rel="manifest" href="/favicon/site.webmanifest">
        
        {# https://web.dev/defer-non-critical-css/ #}
        <link rel="preload" href="/css/style.{{ staticAssetsVersion }}.css" as="style" nonce="{{ cspNonce('style-src') }}">
        <link id="cssOnload" rel="stylesheet" href="/css/style.{{ staticAssetsVersion }}.css" media="print" nonce="{{ cspNonce('style-src') }}">
        <script nonce="{{ cspNonce('script-src') }}">
            cssOnload = document.getElementById('cssOnload');
            cssOnload.onload = function() {
                cssOnload.setAttribute('media', 'all');
            };
        </script>
        <noscript><link rel="stylesheet" href="/css/style.{{ staticAssetsVersion }}.css" nonce="{{ cspNonce('style-src') }}"></noscript>

        {# JS #}
        {{ craft.vite.script("src/app.ts") }}        
        
        {# dev Mode CSS und JS #}
        {% if devMode %}
            <link rel="stylesheet" href="/css/dev.{{ staticAssetsVersion }}.css" nonce="{{ cspNonce('style-src') }}">
            <script src="/js/dev.{{ staticAssetsVersion }}.js" defer nonce="{{ cspNonce('script-src') }}"></script>
        {% endif %}

        <style nonce="{{ cspNonce('style-src') }}">
            {# FOUC #}
            {# https://www.primative.net/blog/how-to-get-rid-of-the-flash-of-unstyled-content/ #}
            .no-js {
                visibility: visible;
            }
            {# prevent CSS transitions until page is loaded #}
            body[data-preloading="true"] * {
                transition: transform 0s !important;
            }
            /* hide body until full html is loaded */
            body {
                visibility: hidden;
            }
        </style>
    </head>
    {% if not craft.app.request.segment(1) %}
        {% set pagename = 'home' %}
    {% else %}
        {% set pagename = craft.app.request.segment(1) %}
        {% if craft.app.request.segment(2) %}
            {% set pagename = craft.app.request.segment(1) ~ '-entry' %}
        {% endif %}
    {% endif %}
    {% set bodyDataTags = {
        data: {
            "menu-active": 'false',
            "menu-moving": 'false',
            "body-scrolled": 'false',
            "preloading": 'true'
        },
    } %}
    <body class="body body--{{ pagename }}
     {% if entry is not defined or entry is null %}
        body--404
    {% endif %}
    no-js" {{ attr(bodyDataTags) }}>

        {# Firefox hack against FOUC: https://www.primative.net/blog/how-to-get-rid-of-the-flash-of-unstyled-content/ #}
        <script nonce="{{ cspNonce('script-src') }}">0</script>

        {# FOUC #}
        <script nonce="{{ cspNonce('script-src') }}">
            document.querySelector('body').classList.remove('no-js');
        </script>
        <div class="seite" id="seite">
             <header class="header" id="header">
                {% include '/_modules/menu/_menu.twig' %}
            </header>
            <main class="main">{% block content %}{% endblock %}</main>
        </div>
        <script nonce="{{ cspNonce('script-src') }}">
            {{ source("/js/inline.js") }}
        </script>
        <script nonce="{{ cspNonce('script-src') }}">
            {# FOUC #}
            let domReady = (cb) => {
            document.readyState === 'interactive' || document.readyState === 'complete'
                ? cb()
                : document.addEventListener('DOMContentLoaded', cb);
            };
                        
            domReady(() => {
                document.body.style.visibility = 'visible';
            });
            {# finish preloading #}
            setTimeout(function(){
                document.body.setAttribute('data-preloading', 'false');
            }, 500);
        </script>
    </body>
</html>
