{% macro bild (
    bild,
    class,
    bildbeschreibung,
    seitenverhaeltnis = false,
    hintergrundfarbe = '#f5f5f5',
    objectFit = false,
    fokuspunkt = 5,
    lazyload = true,
    preload = false
) %}

{% set srcSet =
    ['200w', '400w', '600w', '800w', '1000w', '1400w', '1600w', '2000w', '2400w', '2800w', '3200w', '3600w', '4000w', '4400w', '4800w']
%}

{% if bild is not defined %}
    Macro bild: Kein Bild (bild) angegeben.
{% endif %}
{% if class is not defined %}
    Macro bild: Keine Klasse (class) angegeben.
{% endif %}
{% if bildbeschreibung is not defined %}
    Macro bild: Keine Bildbeschreibung (bildbeschreibung) angegeben.
{% endif %}

{% if lazyload == true %}
    {% set lazyloadVariable = "lazyload" %}
    {% set srcset = "data-srcset" %}
    {% set sizesAuto = "auto" %}
{% else %}
    {% set lazyloadVariable = false %}
    {% set srcset = "srcset" %}
    {% set sizesAuto = false %}
{% endif %}

{% if seitenverhaeltnis == false %}
    {% set hoehe = (bild.getHeight() / bild.getWidth()) | round(4) %}
    {% set paddingBottom = (bild.getHeight() / bild.getWidth() * 100) | round(4) ~ "%" %}
{% else %}
    {% set seitenverhaeltnisArray = seitenverhaeltnis|split(':') %}
    {% set hoehe = (seitenverhaeltnisArray[1] / seitenverhaeltnisArray[0]) | round(4) %}
    {% set paddingBottom = (seitenverhaeltnisArray[1] / seitenverhaeltnisArray[0] * 100) | round(4) ~ "%" %}
{% endif %}

{% switch fokuspunkt %}
    {% case 1 %}
        {% set cssObjectPosition = 'left top' %}
    {% case 2 %}
        {% set cssObjectPosition = 'center top' %}
    {% case 3 %}
        {% set cssObjectPosition = 'right top' %}
    {% case 4 %}
        {% set cssObjectPosition = 'left center' %}
    {% case 5 %}
        {% set cssObjectPosition = 'center center' %}
    {% case 6 %}
        {% set cssObjectPosition = 'right center' %}
    {% case 7 %}
        {% set cssObjectPosition = 'left bottom' %}
    {% case 8 %}
        {% set cssObjectPosition = 'center bottom' %}
    {% case 9 %}
        {% set cssObjectPosition = 'right bottom' %}
{% endswitch %}
        
{# mit/ohne preload #}
{% set style = [
    hintergrundfarbe == 'blur' ? 'background-size: 100% 100%',
    hintergrundfarbe != false and hintergrundfarbe != 'blur' ? 'background-color:' ~ hintergrundfarbe,
    objectFit ? "height: 100%" : "padding-bottom:" ~ paddingBottom,
] %}

{% set uniqueId = uniqueid() %}
<div class="{{ class ~ '-bild' ~ ' macro-bild' }}" id="macro-bild--{{ uniqueId }}">
    <style nonce="{{ csp('style-src') }}">
        #macro-bild--{{ uniqueId }} {
            {{ style | join(';') }}
        }
    </style>
    {% if bild.getFormat() == 'svg' %}
        {% set imgAttribute = {
            src: bild.url,
            alt: bildbeschreibung,
            class: "#{class}-img macro-bild__img #{lazyloadVariable}",
            id:  "macro-bild__img--#{ uniqueId }",
            data: {
                sizes: sizesAuto
            }
        } %}
        <img {{ attr(imgAttribute) }}>
    {% else %}
        <picture class="macro-bild__picture" data-hoehe="{{ hoehe }}">

            {% if objectFit == 'cover' %}
                {# Sources für objectfit: cover und landscape #}
                {% do bild.setTransform({
                    format: 'webp',
                    quality: 75
                }) %}
                {{ tag('source', {
                    type: 'image/webp',
                    media: '(orientation: landscape)',
                    srcset: bild.getSrcset(srcSet)
                }) }}
                {% do bild.setTransform({
                    format: 'jpg',
                    quality: 75
                }) %}
                {{ tag('source', {
                    format: 'jpg',
                    type: 'image/jpeg',
                    media: '(orientation: landscape)',
                    srcset: bild.getSrcset(srcSet)
                }) }}
                {# Sources für objectfit: cover und portrait #}
                {% do bild.setTransform({
                    format: 'webp',
                    width: 100,
                    height: 150,
                    mode: 'crop',
                    quality: 75
                }) %}
                {{ tag('source', {
                    type: 'image/webp',
                    media: '(orientation: portrait)',
                    srcset: bild.getSrcset(srcSet)
                }) }}
                {% do bild.setTransform({
                    format: 'jpg',
                    width: 100,
                    height: 150,
                    mode: 'crop',
                    quality: 75
                }) %}
                {{ tag('source', {
                    format: 'jpg',
                    type: 'image/jpeg',
                    media: '(orientation: portrait)',
                    srcset: bild.getSrcset(srcSet)
                }) }}
            {# Sources für Zuschneidung #}
            {% elseif seitenverhaeltnis %}
                {% do bild.setTransform({
                    format: 'webp',
                    width: 100,
                    height: (100 * hoehe) | round(0),
                    mode: 'crop',
                    quality: 75
                }) %}
                {{ tag('source', {
                    type: 'image/webp',
                    srcset: bild.getSrcset(srcSet)
                }) }}
                {% do bild.setTransform({
                    format: 'jpg',
                    width: 100,
                    height: (100 * hoehe) | round(0),
                    mode: 'crop',
                    quality: 75
                }) %}
                {{ tag('source', {
                    format: 'jpg',
                    type: 'image/jpeg',
                    srcset: bild.getSrcset(srcSet)
                }) }}
            {# Sources für Unbeschnitten #}
            {% else %}
                {% do bild.setTransform({
                    format: 'webp',
                    quality: 75
                }) %}
                {{ tag('source', {
                    type: 'image/webp',
                    srcset: bild.getSrcset(srcSet)
                }) }}
                {% do bild.setTransform({
                    format: 'jpg',
                    quality: 75
                }) %}
                {{ tag('source', {
                    format: 'jpg',
                    type: 'image/jpeg',
                    srcset: bild.getSrcset(srcSet)
                }) }}
            {% endif %}

            {# Image Tag vorbereiten #}
            {# Sources für Zuschneidung #}
            {% if seitenverhaeltnis %}
                {% do bild.setTransform({
                    width: 400,
                    height: (400 * hoehe) | round(0),
                    mode: 'crop',
                    quality: 75
                }) %}
            {# Sources für Unbeschnitten #}
            {% else %}
                {% do bild.setTransform({
                    width: 400,
                    quality: 75
                }) %}
            {% endif %}

            {# Image Tag #}
            {% set objectFitVariable = objectFit ? "object-fit:" ~ objectFit ~ ";" : "" %}
            {% set imgAttribute = {
                src: bild.url,
                width: bild.width,
                height: bild.height,
                alt: bildbeschreibung,
                class: "#{class}-img macro-bild__img #{lazyloadVariable}",
                'object-position': cssObjectPosition,
                id:  "macro-bild__img--#{ uniqueId }",
                data: {
                    sizes: sizesAuto
                }
            } %}
            <img {{ attr(imgAttribute) }}>
            <style nonce="{{ csp('style-src') }}">
                #macro-bild__img--{{ uniqueId }} {
                    {{ objectFitVariable }}
                }
            </style>
        </picture>
    {% endif %}
</div>


{% endmacro %}