<button class="menu__hamburger" id="hamburger" type="button" aria-label="Menüknopf">
	<span class="hamburger-box">
		<span class="hamburger-inner"></span>
	</span>
</button>
<nav class="menu" id="menu">
	<a href="/" aria-label="Startseite" class="menu__logo-link menu__logo-link--desktop">
		<h1 class="menu__logo">
			Reiner<br>
			Zufall
		</h1>
	</a>
	<a href="/" aria-label="Startseite" class="menu__logo menu__logo--startseite menu__logo--mobile">
		{{ svg('@webroot/modules/menu/menu__logo-mobile.svg', sanitize=true, namespace=true) | attr({
            class: 'menu__logo-svg'
        }) }}
	</a>
	<div class="menu__links">
		{# {% for item in entries %}
            <a class="menu__link menu__link--{{ item.level }} menu__link--{{ item.slug }}" href="/{{ item.slug }}" {% if item.slug == craft.app.request.getPathInfo() %} data-menu-active="true" {% endif %}>
                {{ item.title }}
            </a>
        {% endfor %} #}
		<a class="menu__link" data-menu-active="true">Eins</a>
		<a class="menu__link">Zwei</a>
		<a class="menu__link">Drei</a>
	</div>
</nav>