{% macro image (
    image,
    class,
    alt,
    aspectRatio = false,
    bgColor = '#F2F2F2',
    paddingBottomTrick = true,
    objectFit = false,
    focalpoint = 5,
    lazyload = true,
    preload = false
) %}

{% set srcSet =
    ['1400w']
%}

{% if image is not defined %}
    Macro image: no image given.
{% endif %}
{% if class is not defined %}
    Macro image: no class given
{% endif %}
{% if alt is not defined %}
    No alt text given
{% endif %}

{% if lazyload == true %}
    {% set lazyloadVariable = "lazyload" %}
    {% set srcset = "data-srcset" %}
    {% set sizesAuto = "auto" %}
{% else %}
    {% set lazyloadVariable = false %}
    {% set srcset = "srcset" %}
    {% set sizesAuto = false %}
{% endif %}

{% if aspectRatio == false %}
    {% set height = (image.getHeight() / image.getWidth()) | round(4) %}
    {% set width = (image.getWidth() / image.getHeight()) | round(4) %}
    {% set paddingBottom = (image.getHeight() / image.getWidth() * 100) | round(4) ~ "%" %}
{% else %}
    {% set aspectRatioArray = aspectRatio|split(':') %}
    {% set height = (aspectRatioArray[1] / aspectRatioArray[0]) | round(4) %}
    {% set width = (aspectRatioArray[0] / aspectRatioArray[1]) | round(4) %}
    {% set paddingBottom = (aspectRatioArray[1] / aspectRatioArray[0] * 100) | round(4) ~ "%" %}
{% endif %}

{% switch focalpoint %}
    {% case 1 %}
        {% set cssObjectPosition = 'left top' %}
    {% case 2 %}
        {% set cssObjectPosition = 'center top' %}
    {% case 3 %}
        {% set cssObjectPosition = 'right top' %}
    {% case 4 %}
        {% set cssObjectPosition = 'left center' %}
    {% case 5 %}
        {% set cssObjectPosition = 'center center' %}
    {% case 6 %}
        {% set cssObjectPosition = 'right center' %}
    {% case 7 %}
        {% set cssObjectPosition = 'left bottom' %}
    {% case 8 %}
        {% set cssObjectPosition = 'center bottom' %}
    {% case 9 %}
        {% set cssObjectPosition = 'right bottom' %}
{% endswitch %}
        
{# mit/ohne preload #}
{% set style = [
    bgColor == 'blur' ? 'background-size: 100% 100%',
    bgColor != false and image.getFormat() != 'svg' and bgColor != 'blur' ? 'background-color:' ~ bgColor,
    paddingBottomTrick ? "padding-bottom:" ~ paddingBottom,
    paddingBottomTrick == false ? "aspect-ratio:" ~ width
] %}

{% set uniqueId = uniqueid() %}
<div class="{{ class ~ '-image' ~ ' macro-image' }}" id="macro-image--{{ uniqueId }}">
    <style nonce="{{ cspNonce('style-src') }}">
        #macro-image--{{ uniqueId }} {
            {{ style | join(';') }}
        }
    </style>
    {% if image.getFormat() == 'svg' %}
        {% set imgAttribute = {
            src: image.url,
            alt: alt,
            class: "#{class}-img macro-image__img #{lazyloadVariable}",
            id:  "macro-image__img--#{ uniqueId }",
            data: {
                sizes: sizesAuto
            }
        } %}
        <img {{ attr(imgAttribute) }}>
    {% else %}
        <picture class="macro-image__picture" data-height="{{ height }}">

            {% if objectFit == 'cover' %}
                {# sources for objectFit: cover and landscape #}
                {% do image.setTransform({
                    format: 'webp',
                    quality: 75
                }) %}
                {{ tag('source', {
                    type: 'image/webp',
                    media: '(orientation: landscape)',
                    srcset: image.getSrcset(srcSet)
                }) }}
                {% do image.setTransform({
                    format: 'jpg',
                    quality: 75
                }) %}
                {{ tag('source', {
                    format: 'jpg',
                    type: 'image/jpeg',
                    media: '(orientation: landscape)',
                    srcset: image.getSrcset(srcSet)
                }) }}
                {# sources for objectFit: cover and portrait #}
                {% do image.setTransform({
                    format: 'webp',
                    width: 100,
                    height: 150,
                    mode: 'crop',
                    quality: 75
                }) %}
                {{ tag('source', {
                    type: 'image/webp',
                    media: '(orientation: portrait)',
                    srcset: image.getSrcset(srcSet)
                }) }}
                {% do image.setTransform({
                    format: 'jpg',
                    width: 100,
                    height: 150,
                    mode: 'crop',
                    quality: 75
                }) %}
                {{ tag('source', {
                    format: 'jpg',
                    type: 'image/jpeg',
                    media: '(orientation: portrait)',
                    srcset: image.getSrcset(srcSet)
                }) }}
            {# sources for cropped images #}
            {% elseif aspectRatio %}
                {% do image.setTransform({
                    format: 'webp',
                    width: 100,
                    height: (100 * height) | round(0),
                    mode: 'crop',
                    quality: 75
                }) %}
                {{ tag('source', {
                    type: 'image/webp',
                    srcset: image.getSrcset(srcSet)
                }) }}
                {% do image.setTransform({
                    format: 'jpg',
                    width: 100,
                    height: (100 * height) | round(0),
                    mode: 'crop',
                    quality: 75
                }) %}
                {{ tag('source', {
                    format: 'jpg',
                    type: 'image/jpeg',
                    srcset: image.getSrcset(srcSet)
                }) }}
            {# sources for uncropped images #}
            {% else %}
                {% do image.setTransform({
                    format: 'webp',
                    quality: 75
                }) %}
                {{ tag('source', {
                    type: 'image/webp',
                    srcset: image.getSrcset(srcSet)
                }) }}
                {% do image.setTransform({
                    format: 'jpg',
                    quality: 75
                }) %}
                {{ tag('source', {
                    format: 'jpg',
                    type: 'image/jpeg',
                    srcset: image.getSrcset(srcSet)
                }) }}
            {% endif %}

            {# prepare image tag #}
            {# sources for cropping #}
            {% if aspectRatio %}
                {% do image.setTransform({
                    width: 400,
                    height: (400 * height) | round(0),
                    mode: 'crop',
                    quality: 75
                }) %}
            {# sources for uncropped #}
            {% else %}
                {% do image.setTransform({
                    width: 400,
                    quality: 75
                }) %}
            {% endif %}

            {# image tag #}
            {% set objectFitVariable = objectFit ? "object-fit:" ~ objectFit ~ ";" : "" %}
            {% set imgAttribute = {
                src: image.url,
                width: image.width,
                height: image.height,
                alt: alt,
                class: "#{class}-img macro-image__img #{lazyloadVariable}",
                'object-position': cssObjectPosition,
                id:  "macro-image__img--#{ uniqueId }",
                data: {
                    sizes: sizesAuto
                }
            } %}
            <img {{ attr(imgAttribute) }}>
            <style nonce="{{ cspNonce('style-src') }}">
                #macro-image__img--{{ uniqueId }} {
                    {{ objectFitVariable }}
                }
            </style>
        </picture>
    {% endif %}
</div>

{% endmacro %}