{% macro video (
    video,
    class,
    title,
    preventCaching = false,
    bgColor = '#f5f5f5'
) %}

{% if video is not defined %}
    Macro video: Kein Video (video) angegeben.
{% endif %}
{% if class is not defined %}
    Macro video: Keine Klasse (class) angegeben.
{% endif %}
{% if title is not defined %}
    Macro video: Keine title (title) angegeben.
{% endif %}

{% set video = craft.embeddedAssets.get(video) %}
{% set uniqueId = uniqueid() %}

{% set style = [
    bgColor != false ? "background-color:" ~ bgColor,
    "paddingBottom:" ~ video.aspectRatio ~ "%",
] %}


<div class="{{ class ~ '-video' ~ ' macro-video' }}" id="macro-video--{{ uniqueId }}"></div>
    <style nonce="{{ cspNonce('style-src') }}">
        #macro-video--{{ uniqueId }} {
            {{ style | join(';') }}
        }
    </style>
    {% if preventCaching == false %}
        {{ video.getIframeCode(
            ['autoplay=1', 'controls=0', 'playsinline=0', 'muted=1', 'loop=1', 'pip=0'],
            ['autoplay=src'],
            ['allow', 'allowfullscreen']
        ) }}
    {% else %}
        {% set videoSrc = videoAsset.getIframeSrc(
            ['autoplay=1', 'controls=0', 'playsinline=0', 'muted=1', 'loop=1', 'pip=0'],
        ) %}
        <iframe class="macro-video__iframe" id="macro-video__iframe--{{ uniqueId }}" src="" title="{{ title }}" allow="autoplay" autoplay loading="lazy" width="{{ videoAsset.width }}" height="{{ videoAsset.height }}" frameborder="0"></iframe>
        {# The src needs to be set by script, otherwise setting random videos (page reload) is impossible #}
        {# Firefox has a bug: content of an iframe is taken from the cache even if the src has changed #}
        <script nonce="{{ cspNonce('script-src') }}">
            iframe = document.getElementById('macro-video__iframe--{{ uniqueId }}');
            src = decodeURIComponent("{{ videoSrc | url_encode }}");
            iframe.src = src;
        </script>
    {% endif %}
</div>

{% endmacro %}